/* text */

.text-anton {
    font-family: "Anton", sans-serif;
}

.text-inter {
    font-family: "inter", sans-serif;
}

/* text-end */

/* color */

.text-smoke {
    color: #D4D4D4;
}

/* color end */

/* navbar start */

nav {
    font-family: "Anton", sans-serif;
}

@media (min-width: 992px) {
    .navbar-search {
        width: 50% !important;
    }
}

nav .navbar-nav a {
    font-family: "inter", sans-serif;
}

.input-group {
    font-family: "inter", sans-serif;
}

::placeholder {
    color: #D4D4D4 !important;
    opacity: 1;
}

/* navbar end */

/* landing start */
#landing {
    background-image: url("resources/images/smokey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* landing end */