.navbar, nav {
    --bs-navbar-color:  #2D3449;
    --bs-navbar-hover-color: #ffffff;
    --bs-navbar-brand-color: #DDB7FF;
    --bs-navbar-brand-hover-color: #ffffff;
    --bs-navbar-brand-margin-end: auto;

    background-color: #0B1326;
}

.navbar-brand, .offcanvas-title {
    font-family: 'sora';
    font-weight: 700;
}

.offcanvas {
    background-color: #2D3449;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav h5,
.navbar-brand,
.navbar .btn i,
.offcanvas .nav-link {
    color: #DDB7FF;
    transition: color 0.3s ease;
}

.navbar-brand:hover,
.navbar .btn:hover i,
.offcanvas .nav-link:hover {
    color: #ffffff !important;
}

nav form .form-control {
    border-radius: 0.25rem;
    border-left: none;
    background-color: #131B2E;
    color: #ffffff;
}

.search-input {
    border: none;
    box-shadow: none;
    background-color: #2D3449;
    color: #fff;
}

.search-input::placeholder {
    color: #c8b8d9;
    opacity: 1;
}

.search-input:focus {
    border: none;
    box-shadow: none;
    background-color: #2D3449;
    color: #fff;
}

.search-btn {
    border: none;
    background-color: #2D3449;
    color: #DDB7FF;
}

.search-btn:hover {
    background-color: #3A425C;
    color: #fff;
}

.search-btn:focus {
    box-shadow: none;
}